.card {
    border: 1px solid #a2a0a0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    width: 300px;
    margin-left: 50px;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  }
  
  .card-image {
    width: 300px;
    height: 150px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 16px;
  }

   
  .card-description {
    font-size: 0.8em;
    color: #555;
  }

  
  .card-title {
    font-size: 1.4em;
    margin: 0 0 10px;
  }

  .card-button {
    background-color: #6cb1fa;
    color: rgb(20, 20, 20);
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.7em;
    transition: background-color 0.3s;
  }
  
  .card-button:hover {
    background-color: #0056b3;
  }


  .special-card {
    border: 2px solid #a2a0a0; /* Purple border */
    background-color: #e6e6fa; /* Lavender background */
  }
  
  .special-card .card-title {
    color: #131213; /* Purple title */
  }

  .special-card .card-button {
    background-color: #6cb1fa; /* Purple button */
  }
  
  .special-card .card-button:hover {
    background-color: #0056b3; /* Indigo button on hover */
  }

  .special-card .card-image {
    width: 100px;
    height: 100px;
    margin: '50px';
    object-fit: cover
  }